
.mycontainer{
    
    padding:10px;
    background-color: white;
    
    
    
}

.row-self{
    margin-top:20px;
}

.box-self{
    
    background-color: white;
    margin: 0px 10px;
    transition:0.5s;
    border-radius: 10px;
    height:400px;
    margin-top:40px;
    
    
    
}

#add-cart{
    float:right;
}

.box-self:hover{
    transform:scale(1.1);
    box-shadow: -1px 2px 0px 0px lightslategray;
    
    
}


.img-size{
    width:100%;
    height:50%;
    /* object-fit: fill; */
    border-radius: 10px 10px 0 0;
}

.product-name, .product-price{
    padding-left:10px;
}

.product-cart{
    padding:15px;
}




