
 .data-price{
    padding-left:5%;
    color:red;
}
.data-name
{
    color:black;
    float: left;
    padding-left:5%;
}
.center-self
{
    margin-top:5%;
}

.total
{
    margin-top:5%;
}
.total-price
{
    color:green;
    margin-top:5%;
}

.place-order
{
    margin-top:5%;
}

